h2 {
    text-align: center;
}
.comments {
    width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.comments-item {
    position: relative;
    width: 600px;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid black;
}
.comments-item-massage {
    position: relative;
    z-index: 2;
    margin: 0;
    margin-bottom: 10px;
    padding: 15px 10px;
    display: block;
    background-color: white;
    border-radius: 50px;
}
.comments-item-massage::after {
    position: absolute;
    content: "";
    display: block;
    width: 50px;
    height: 10px;
    transform: skewY(31deg);
    background-color: white;
    z-index: -1;
}
.btn-del {
    position: absolute;
    left: 488px;
    cursor: pointer;
    border: 1px solid red;
    background-color: transparent;
    color: red;
}
.comments-item-author > b {
    margin-left: 5px;
}
.btn-del:hover{
    transition: .6s;
    background-color: rgb(238, 78, 78);
    color: rgb(209, 229, 248);
}